.createformorfolder__container {
  position: absolute;
  top: 0px;
  left: 330px;
  width: 540px;
  height: 261px;
  color: var(--text-color);
  margin-top: 72px;
  z-index: 10;
}

.createformorfolder__input__container {
  width: 100%;
  height: 100%;
  gap: 0px;
  border-radius: 24px;
  opacity: 0px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 2px solid var(--border-color);
}

.createformorfolder__input__container__title {
  font-size: 27.33px;
  font-weight: 600;
  line-height: 41px;
  margin-bottom: 20px;
}

.createformorfolder__input__container__input {
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 10px 16px;
  top: 94px;
  left: 276px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 41px;
}

.createformorfolder__input__container__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}

.createformorfolder__input__container__buttons button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 27.33px;
  font-weight: 600;
  line-height: 41px;
}

.createformorfolder__done {
  color: #4b83ff !important;
  border-right: 1px solid var(--border-color) !important;
}
